<div class="custom-card">
  <div class="left-side" [style]="'background-image:URL(http://localhost:8080/image?image=' + image + ')'">
    <!-- <img [src]="image"> -->
  </div>

  <div class="right-side">
    <div class="card-title">
      {{ title }}
    </div>

    <div class="card-sub-title">
      <div *ngIf="showDot" class="dot {{ dotColor ? dotColor : '' }}"></div>
      {{ subTitle }}
    </div>

    <div class="card-label card-first-label">
      {{ firstCustomLabel }}
    </div>

    <div class="card-first-value">
      {{ firstCustomValue }}
    </div>

    <div class="card-label card-second-label">
      {{ secondCustomLabel }}
    </div>

    <div class="card-second-value">
      {{ secondCustomValue }}
    </div>
  </div>
</div>
