<div
  class="home-container"
  *ngIf="{ charactersResponse: characters$ | async } as subs"
>
  <div
    class="card-container"
    *ngIf="!!subs.charactersResponse && !!subs.charactersResponse.characters"
  >
    <app-card
      *ngFor="let c of subs.charactersResponse.characters.results"
      (click)="onOpenCharacter(c)"
      [image]="c.image"
      [title]="c.name"
      [subTitle]="c.status + ' - ' + c.species"
      [firstCustomLabel]="'Last known location:'"
      [firstCustomValue]="c.location.name"
      [secondCustomLabel]="'First seen in:'"
      [secondCustomValue]="c.episodeResponse[0].name"
      [showDot]="true"
      [dotColor]="
        c.status === 'Alive'
          ? 'green'
          : c.status === 'unknown'
          ? 'yellow'
          : null
      "
    ></app-card>
  </div>
</div>
