/* You can add global styles to this file, and also import other style files */

$color-purple: #7a18ec;
$color-white: #fff;
$color-black-1: #111;
$color-black-2: #222;
$color-black-3: #444;
$speed-normal: 0.5s;
$speed-fast: 0.8s;

body {
  background: rgb(36, 40, 47);
  margin: 0%;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}

a.pixel {
  position: relative;
  width: 180px;
  height: 60px;
  margin: 20px;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $color-white;
  transition: $speed-normal;
  border: 1px solid $color-purple;
  cursor: pointer;

  &:hover {
    border: 1px solid transparent;
    transition-delay: 0.8s;
    background-size: 180px;
    animation: animate $speed-fast steps(8) forwards;
    background: $color-purple url(https://i.postimg.cc/FzBWFtKM/pixel2.png); // 360px x 1080px
  }
}
@keyframes animate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -480px;
  }
}
